---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
{{ if gt (len (split .Description " --- ")) 1 -}}
subcategory: "{{ index (split .Description " --- ") 0 }}"
{{- else -}} 
subcategory: ""
{{- end }}
description: |-
{{ if gt (len (split .Description " --- ")) 1 -}}
{{ index (split .Description " --- ") 1 | plainmarkdown | trimspace | prefixlines "  " }}
{{- else -}} 
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
{{- end }}
---

# {{.Name}} ({{.Type}})

### Nested Schema for `service_token_permissions`
The mapping of permission names [from the docs](https://docs.getdbt.com/docs/cloud/manage-access/enterprise-permissions) to a `permissions_set` in `service_token_permissions`:

| Permission name | `permission_set = ...` |
| --- | --- |
| Account Admin | `"account_admin"` |
| Account Viewer | `"account_viewer"` |
| Admin | `"admin"` |
| Analyst | `"analyst"` |
| Billing Admin | `"billing_admin"` |
| Database Admin | `"database_admin"` |
| Developer | `"developer"` |
| Git Admin | `"git_admin"` |
| Job Admin | `"job_admin"` |
| Job Runner | `"job_runner"` |
| Job Viewer | `"job_viewer"` |
| Member | `"member"` |
| Metadata Only | `"metadata_only"` |
| Owner | `"owner"` |
| Project Creator | `"project_creator"` |
| Read-Only | `"readonly"` |
| Security Admin | `"security_admin"` |
| Semantic Layer Only | `"semantic_layer_only"` |
| Stakeholder | `"stakeholder"` |
| Team Admin | `"team_admin"` |
| Webhooks Only | `"webhooks_only"` |

{{ if gt (len (split .Description " --- ")) 1 -}}
{{ index (split .Description " --- ") 1 | trimspace }}
{{ else }}
{{ .Description | trimspace }}
{{- end }}

{{ if .HasExample -}}
## Example Usage

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource.tf") }}
{{- end }}

!> `writable_environment_categories` is only configurable when the **dbt Cloud** instance 
has Environment Level Restrictions enabled. Attempting to configure this field when not enabled 
will cause terraform to fail with `Error: Provider produced inconsisten result after apply`.

{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}
{{- end }}
