---
page_title: "dbt Cloud Provider"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.ProviderShortName}} Provider

~> 🚧 IMPORTANT! 🚧  
Since 0.3, only resources starting with `dbtcloud_xxx` are allowed. If you use the legacy `dbt_cloud_xxx` ones, you will have to stay on 0.2.x or move to the new resources.
Instruction on how to do it is available in the 0.2.x docs.

{{ .Description | trimspace }}

## Provider configuration

{{ tffile (printf "examples/provider/provider.tf") }}

{{ .SchemaMarkdown | trimspace }}