on:
  pull_request_target:
    branches:
      - main

name: dbt Cloud Integration Tests

jobs:
  unit:
    if: "!contains(github.event.pull_request.labels.*.name, 'no-ci')"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - check-docs
          - test
          - test-acceptance
    steps:
      - name: pull_request actions/checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: actions/setup-go@v4
        with:
          go-version: '>=1.17.0'

      - name: Install dependencies
        run: make setup

      - name: make ${{ matrix.target }}
        run: make ${{ matrix.target }}
        env:
          DBT_CLOUD_ACCOUNT_ID: ${{ secrets.TEST_DBT_CLOUD_ACCOUNT_ID }}
          DBT_CLOUD_TOKEN: ${{ secrets.TEST_DBT_CLOUD_TOKEN }}
          DBT_CLOUD_HOST_URL: ${{ secrets.TEST_DBT_CLOUD_HOST_URL }}
